
.parent{
    min-height: 100vh;
     background-image: url(/background.png) ;
    background-size: cover;
    background-repeat: no-repeat;
}
.logoNotesText{
   
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
}
.logoNotes{
    width:100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
     font-family: "Inter", sans-serif;
     font-weight: 600;
     letter-spacing: -1px;
    font-size: 42px;
    padding: 10px 5px;
}
.my{
    color:#F5F7F6;
}
.Notes{
    color:#4ADE80;
}
