.container{
    height: 100vh;
    background-color: #0B0F0D;
}
.container2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.gobackicon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #F5F7F6;
    margin: 10px 10px;
    gap: 6px;
    padding: 10px 10px;
}

.inptsearch{
    display:flex;
    justify-content: center ;
    align-items: center;
    flex-direction: row;
    margin: 20px 40px;
    padding: 10px 10px;
   gap: 10px;
   border-radius: 8px;
  background-color:#07131C;
  border: 1px solid #A7B3AD;
}
.searchinpt{
    height: 100%;
    width: 100%;
    outline:none;
    background: transparent;
    border: transparent;
    color: #A7B3AD;
}
.subjects{
    height: 500px;
    background-color: red;
}
.chapterContainer{
    background-color: green;
}